#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  object-fit: cover;
}

header {
  height: 30px;
  border-bottom: 1px solid #bbb;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px 12px 0 0;
  background-color: #ececec;
}

.ant-input:focus {
  border-color: #ffffff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.ant-input:hover {
  border-color: #ffffff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}