#root {
  margin: 0 auto;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: end;
  margin: 0 0;
}

.dock {
  margin: 0 0 12px 0;
  border-radius: 24px;
  padding: 6px 6px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow:rgba(255, 255, 255, 0.17) 0px 0px 0px 1px inset;
  backdrop-filter: blur(189.942px);
  box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.25);
}

.dock ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.app {
  width: 70px;
  height: 70px;
  position: relative;
  transition: width, height, margin-top, cubic-bezier(0.25, 1, 0.5, 1) 100ms;
  padding: 4px;
}

.app:hover {
  width: 100px;
  height: 100px;
  margin-top: -30px;
}

/* Right side */
.app:hover + .app {
  width: calc(90px + var(--dock-offset-right, 0px));
  height: calc(90px + var(--dock-offset-right, 0px));
  margin-top: calc(-20px + var(--dock-offset-right, 0px) * -1);
}

.app:hover + .app + .app {
  width: calc(80px + var(--dock-offset-right, 0px));
  height: calc(80px + var(--dock-offset-right, 0px));
  margin-top: calc(-10px + var(--dock-offset-right, 0px) * -1);
}

/* Left side */
.app:has(+ .app:hover){
  width: calc(90px + var(--dock-offset-left, 0px));
  height: calc(90px + var(--dock-offset-left, 0px));
  margin-top: calc(-20px + var(--dock-offset-left, 0px) * -1);
}

.app:has(+ .app + .app:hover){
  width: calc(80px + var(--dock-offset-left, 0px));
  height: calc(80px + var(--dock-offset-left, 0px));
  margin-top: calc(-10px + var(--dock-offset-left, 0px) * -1);
}

.app img {
  width: 100%;
  height: 100%;
}

.app a {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 12px;
  color: #fff;
}

.app:hover .tooltip,
.app:focus-within .tooltip {
  opacity: 1;
}

.tooltip {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: ease-in opacity 100ms;
  display: block;
  background: rgba(0,0,0,0.58);
  padding: 8px;
  border-radius: 12px;
  height: 22px;
  width: auto;
  box-shadow:rgba(0, 0, 0, 0.17) 0px 12px 8px 1px;
  white-space: nowrap;
}

.window {
  position: absolute;
  color: black;
  background-color: white;
  min-height: 480px;
  min-width: 560px;
  border-radius: 12px;
  bottom: 50%;
  right: 50%;
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.25);
}

header {
  height: 30px;
  border-bottom: 1px solid #bbb;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 12px 12px 0 0;
  background-color: #ececec;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid;
}

.close {
  background-color: #f65753;
  border-color: #e04a3b;
}

.minimise {
  background-color: #f9bc3f;
  border-color: #df9d36;
}

.maximise {
  background-color: #36c84b;
  border-color: #2aa839;
}